/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.screen-reader-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}
.container {
    padding: 15px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 730px;
    margin: 0 auto;
}
header h1 {
    font-family: 'Lora', serif;
    font-size: 22px;
    line-height: 1.333;
    color: #585858;
}
header span {
    opacity: 0.8;
    animation: color-animation 10s infinite;
    font-weight: 400
}
header .racoon{
    position: relative;
}
header .racoon:before {
    content: "";
    border-radius: 30px;
    animation: shadow-animation 10s infinite;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
}
header .racoon img {
    max-width: 38px;
    position: absolute;
    top: -2px;
    left: -4px;
}
.social-links {
    display: flex;
    justify-content: center;
    padding: 60px 30px;
}
.social-link {
    width: 60px;
    margin-right: 30px;
}
.social-link svg path {
    transition: 0.2s fill ease-in-out;
}
.social-link.github:hover svg path {
    fill: #181717;
    transition: 0.2s fill ease-in-out;
}
.social-link.twitter:hover svg path {
    fill: #1DA1F2;
    transition: 0.2s fill ease-in-out;
}
.social-link.linkedin:hover svg path {
    fill: #0077B5;
    transition: 0.2s fill ease-in-out;
}
footer{
    font-family: 'Lora', serif;
    font-weight: 400;
    text-align: center;
    color: rgba(88,88,88,0.6);
}
@media(min-width: 760px){
    header .racoon:before { 
        margin-right: 14px;
    }
    header .racoon img {
        top: 22px;
        max-width: 40px;
    }
    header h1 {
        font-size: 58px;
    }
    .social-links {
        display: flex;
        justify-content: center;
        padding: 60px;
    }
    .social-link {
        width: 60px;
        margin-right: 40px;
    }
}

@keyframes color-animation {
    0% {    color: #f69677;    }
    5% {    color: #f69677;    } 
    10% {   color: #f26a71;    } 
    15% {   color: #ef4f92;    } 
    20% {   color: #a54ee2;    } 
    25% {   color: #a341e2;    }
    30% {   color: #9737ee;    } 
    35% {   color: #602ff1;    } 
    40% {   color: #2617e9;    } 
    45% {   color: #0d07e6;    } 
    50% {   color: #0b03a9;    } 
    55% {   color: #0b03a9;    } 
    60% {   color: #0d07e6;    } 
    65% {   color: #a341e2;    }
    70% {   color: #a54ee2;    } 
    85% {   color: #ef4f92;    } 
    90% {   color: #f26a71;    } 
    95% {   color: #f69677;    }
    100% {  color: #f69677;    }
}
@keyframes shadow-animation {
    0% {    box-shadow: 2px 2px 26px #f69677;    }
    5% {    box-shadow: 2px 2px 26px #f69677;    } 
    10% {   box-shadow: 2px 2px 26px #f26a71;    } 
    15% {   box-shadow: 2px 2px 26px #ef4f92;    } 
    20% {   box-shadow: 2px 2px 26px #a54ee2;    } 
    25% {   box-shadow: 2px 2px 26px #a341e2;    }
    30% {   box-shadow: 2px 2px 26px #9737ee;    } 
    35% {   box-shadow: 2px 2px 26px #602ff1;    } 
    40% {   box-shadow: 2px 2px 26px #2617e9;    } 
    45% {   box-shadow: 2px 2px 26px #0d07e6;    } 
    50% {   box-shadow: 2px 2px 26px #0b03a9;    } 
    55% {   box-shadow: 2px 2px 26px #0b03a9;    } 
    60% {   box-shadow: 2px 2px 26px #0d07e6;    } 
    65% {   box-shadow: 2px 2px 26px #a341e2;    }
    70% {   box-shadow: 2px 2px 26px #a54ee2;    } 
    85% {   box-shadow: 2px 2px 26px #ef4f92;    } 
    90% {   box-shadow: 2px 2px 26px #f26a71;    } 
    95% {   box-shadow: 2px 2px 26px #f69677;    }
    100% {  box-shadow: 2px 2px 26px #f69677;    }
}
 